In [1]:
import numpy as np
import pandas as pd
import matplotlib
import sklearn
import calendar

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null object
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

<p>There are no null values in the dataset. Only the cooridinates are numeric. Dates are object type</p>

In [5]:
data.describe()

                   X              Y
count  878049.000000  878049.000000
mean     -122.422616      37.771020
std         0.030354       0.456893
min      -122.513642      37.707879
25%      -122.432952      37.752427
50%      -122.416420      37.775421
75%      -122.406959      37.784369
max      -120.500000      90.000000

<p>This likely isn't going to be of much use. The data only descibes the cooridinates and the location is already fairly constrained</p>

In [6]:
#All values are non null
print(min(data.X))
print(max(data.X))
#all values of x are viable
print(min(data.Y))
print(max(data.Y))
#all values of y are viable.
print(min(data.Dates))
print(max(data.Dates))
#All dates are viable

-122.51364206429
-120.5
37.7078790224135
90.0
2003-01-06 00:01:00
2015-05-13 23:53:00

<p>Data does not need to be cleaned, all of our values are within the realm of possibility</p>

In [7]:
d = data.groupby(['PdDistrict'])
dataWhereResolutionIsNone = data[data['Resolution'] == 'NONE']
e = dataWhereResolutionIsNone.groupby(['PdDistrict'])
#print(dataWhereResolutionIsNone)
print(str(e.count()['X'] / d.count()['X'] * 100))

PdDistrict
BAYVIEW       57.904977
CENTRAL       70.662298
INGLESIDE     64.743484
MISSION       52.586983
NORTHERN      66.717634
PARK          62.650822
RICHMOND      72.394877
SOUTHERN      59.754934
TARAVAL       68.629185
TENDERLOIN    33.855688
Name: X, dtype: float64

In [36]:
d = data.groupby(['PdDistrict'])
dataWhereResolutionIsNone = data[data['Category'] == 'NON-CRIMINAL']
e = dataWhereResolutionIsNone.groupby(['PdDistrict'])
#print(dataWhereResolutionIsNone)
print(str(e.count()['X'] / d.count()['X'] * 100))

PdDistrict
BAYVIEW        6.819783
CENTRAL       12.801311
INGLESIDE      8.691737
MISSION       10.317910
NORTHERN       9.724966
PARK          12.015087
RICHMOND      12.705435
SOUTHERN      12.561871
TARAVAL       10.547899
TENDERLOIN     9.127358
Name: X, dtype: float64

In [8]:
print(data['Address'].mode())
print(str(len(data[data['Address'] == '800 Block of BRYANT ST'])) + " crimes over the 12 year period.")
print(str(len(data[data['Address'] == '800 Block of BRYANT ST'])/(12*8760)) + " crimes per hour")

0    800 Block of BRYANT ST
dtype: object
26533 crimes over the 12 year period.
0.25240677321156774 crimes per hour

<p>That is one crime about every four hours, just in the 800 block of Bryant St</p>